// Font

$font-stack:  'Amatic SC', cursive
$font-bold: 700

$font-secondary: 'Helvetica'

$font-paragraph: 'Open Sans'

//Font Mixins

=font($weight)
  font-family: $font-stack
  font-weight: $weight
