.service-banner
  background:
    color: #CFD1D1
    image: url("../img/bestservice.jpg")
    repeat: no-repeat
    size: cover
    position: center
  padding: 25vh 0
  background-blend-mode: multiply
  background-attachment: fixed
  h1
    letter-spacing: 1.5rem
